%focusStyles {
    outline: #0099cc solid 2px;
}

*:focus {
    @extend %focusStyles;
}

body {
    font-size: 16px;
    background: #f9fafc;
    margin: 0;
}

.right {
    float: right;
}

.button {
    background-color: white;
    padding: 6px 10px;
    font-size: 16px;
    color: #444;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}
