@import '../../utils/variables.scss';

.answer {
    padding: 15px 25px;
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    border: 2px solid #fff;

    &.active {
        background-color: $answer-background;
        color: #fff;
    }
}

.answerList {
    padding: 30px;
    background-color: $answer-background;
    display: flex;
    justify-content: center;
}

.question {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    .questionHeader {
        display: flex;
        align-content: center;
        justify-content: center;

        background: #fff;
        border: 1px solid $border-color;
        border-radius: 2px;
    }
    .questionBody {
        text-align: center;
        padding: 40px 0 0 0;
    }
    .title {
        font-size: 26px;
        color: #000;
        display: flex;
    }
    .selectedAnswer {
        text-align: center;
        font-size: 26px;
        color: #000;
        > span {
            color: $answer-background;
            padding-bottom: 2px;
            text-decoration: none;
            box-shadow: 0 5px 0 -4px $answer-background;
            &:empty {
                min-height: 8px;
                box-shadow: 0 10px 0 -4px $answer-background;
                display: inline-block;
                width: 50px;
            }
        }
    }
}
