@import '../../utils/variables';

.header {
    width: 100%;
    background: #ffffff;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;

    .group {
        display: inline-flex;
        align-items: center;
        flex: 1;

        &.logo {
            justify-content: flex-start;
        }
        &.current {
            justify-content: center;
        }
        &.score {
            justify-content: flex-end;
        }
    }
    #theme {
        margin: 0 0 0 10px;
    }
}
